@font-face {
	font-family: 'Avenir';
	src: url('/avenir_ff/AvenirLTStd-Black.otf');
	font-weight: 600;
}
@font-face {
	font-family: 'Avenir';
	src: url('/avenir_ff/AvenirLTStd-Book.otf');
	font-weight: 200;
}
@font-face {
	font-family: 'Avenir';
	src: url('/avenir_ff/AvenirLTStd-Roman.otf');
	font-weight: normal;
}
