$primary: #FF8C69;

@import "./../../node_modules/bulma/bulma.sass";

.cursor-pointer {
  cursor: pointer
}
.section {
  padding: 3rem;
}
.page-title {
  font-size: 7rem;
  font-weight: 900;
}
.subheader {
  color: $primary;
  font-size: 1.5rem;
  font-weight: 600;
}
.copy {
  line-height: 1.7;
  width: 600px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}