$primary: #FF8C69;

@import "./../../node_modules/bulma/bulma.sass";

.cursor-pointer {
  cursor: pointer
}
.section {
  padding: 3rem;
  @include touch {
    padding: 1rem;
  }
}
.page-title {
  font-size: 7rem;
  font-weight: 900;
  @include touch {
    font-size: 3rem;
  }
}
.subheader {
  color: $primary;
  font-size: 1.5rem;
  font-weight: 600;
}
